@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@font-face {
	font-family: "Anthu";
	src: url(../fonts/Anthu.otf);
}

main {
	overflow: hidden;
}

// ------------- navbar -----------------

.header {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}
nav {
	font-family: "Sora";
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 50px;

	ul {
		display: flex;
		gap: 25px;
		font-size: 14px;
	}
	li {
		transition: all 0.6s;
	}
	li:hover {
		transform: scale(1.1);
	}

	button {
		border: 1px solid white;
		padding: 12px 25px;
	}
}

// ------------- header -----------------
header {
	// position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.header-info {
		border-radius: 25px;
		background: rgba(0, 0, 0, 0.75);
		display: flex;
		padding: 20px 50px;
		justify-content: center;
		align-items: center;
		width: 50%;
		margin: 10px auto;
		gap: 50px;
		font-family: "Sora";
		font-weight: 100;

		p {
			font-size: 20px;
		}

		hr {
			border: 1px solid white;
			height: 50px;
		}
	}
}

// ------------- gallery -----------------

#gallery {
	position: relative;
	height: fit-content;
	background-color: #232323;
	font-family: "Anthu";
	font-size: 30px;
	padding: 20px 0px;
	overflow: hidden;

	.heading {
		margin: 20px 0;
		padding: 0px 50px;
	}
	.gallery-holder {
		width: fit-content;
		overflow-x: auto;
		white-space: nowrap;
		display: flex;
		gap: 10px;
	}

	.image-scroll-container {
		display: flex;
		/* Adjust the width to control the scrollable area */
		width: 100vw;
	}
	.image-holder {
		flex: 0 0 auto; /* Ensure each image doesn't grow or shrink */
		margin-right: 10px;
		width: 500px;
		border: 2px solid #ffffff;
		border-radius: 6px;
	}
}

// ------------- lovestory -----------------

#love-story {
	background: #fff;
	height: fit-content;
	padding: 20px 50px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	z-index: 200;

	.heading {
		font-family: "Anthu";
		color: #e1864c;
		font-size: 30px;
		text-align: right;
	}

	.story {
		width: 100%;
		.story-container {
			display: flex;
			gap: 20px;
			align-items: flex-start;
			width: 100%;
		}
		.imgHolder {
			width: 36%;
			.image {
				border-radius: 20px;
			}
		}
		p {
			color: #232323;
			font-family: "Sora";
			width: 32%;
			font-weight: 400;
			line-height: 250%;
		}
	}
}

// =========== event details =========

#event-details {
	top: 15%;
	padding: 20px 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-between;
	height: fit-content;

	h1 {
		font-family: "Anthu";
		font-size: 30px;
		color: #fff;
	}

	.event-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 140px;
		padding-left: 250px;
		padding-right: 300px;
		gap: 20px;
		width: fit-content;
		height: fit-content;
		align-items: center;
		font-family: "Sora";

		.detail-container {
			display: flex;
			gap: 50px;
			// border: 1px solid white;

			.detail-holder {
				width: 378px;
				// border: 1px solid #e1864c;
				padding: 15px 30px;
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
			hr {
				height: auto;
				border: 3px solid rgba(225, 134, 76, 0.26);
			}
		}
	}
}

// ================= WEDDING PARTTY ===================

#wedding-party {
	background: #fff;
	height: fit-content;
	padding: 50px 50px;
	display: flex;
	flex-direction: column;
	gap: 40px;

	.heading {
		font-family: "Anthu";
		font-size: 30px;
		color: #e1864c;
		text-align: right;
	}
	.content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
		gap: 20px;
		justify-content: space-between;

		font-family: "Sora";
		.party {
			display: flex;
			flex-direction: column;
			gap: 20px;
			color: #232323;
			width: 100%;
			align-items: flex-start;
			.party-inner {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			h1 {
				font-weight: 500;
				font-size: 18px;
			}
			p {
				font-size: 14px;
				font-weight: 300;
			}
			h6 {
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
}

// ================send gift ==================

#send-gift {
	// background: linear-gradient(180deg, #70452d -43.2%, #000 178.62%);
	background: #000;
	height: fit-content;
	font-family: "Sora";
	padding-top: 40px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	gap: 40px;

	.heading {
		text-align: center;

		h1 {
			font-size: 24px;
			font-weight: 600;
		}
		p {
			font-size: 16px;
			font-weight: 300;
		}
	}

	form {
		margin: 0 auto;
		width: 60%;
		display: flex;
		flex-direction: column;
		gap: 15px;

		label {
			font-size: 14px;
			font-weight: 300;
		}
		.input {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		input,
		textarea {
			border: 1px solid #9f9d9d;
			background: transparent;
			padding: 10px;
			border-radius: 6px;
		}
		input,
		textarea:focus {
			outline: none;
		}
		input::placeholder {
			font-size: 14px;
			font-weight: 200;
			color: #5c5b5b;
		}
		textarea::placeholder {
			font-size: 14px;
			font-weight: 200;
			color: #5c5b5b;
		}

		.btn-1 {
			background-color: #fff;
			color: #000;
			display: flex;
			gap: 10px;
			font-size: 14px;
			align-items: center;
			justify-content: center;
			padding: 10px 25px;
			width: 100%;
			border-radius: 6px;
		}
	}
}

// ==============   footer ================

#footer {
	font-family: "Sora";
}
